# List Comprehension

In [5]:
import pandas as pd
a = range(5)
b = [0,1,9,3,4]
c = pd.DataFrame({'a': a, 'b':b})
c.replace()

   a  b
0  0  0
1  1  1
2  2  9
3  3  3
4  4  4

# Set Comprehensions

In [1]:
{skill for skill in ['GIT', 'PYTHON', 'SQL'] if skill not in {'GIT', 'PYTHON', 'JAVA'}}

{'SQL'}

# Dictionary Comrehensions

# Generator comprehensions

In [1]:
def remove_duplicates(original):
    unique = []
    [unique.append(n) for n in original if n not in unique]
    return(unique)
print(remove_duplicates([1, 2, 3, 1, 7]))

[1, 2, 3, 7]