In [54]:
a = set()
a.add('a')
a.add('b')
a.add('c')
a.add('d')

# Can iterate over set

In [55]:
for skill in a:
    print(skill)

b
a
c
d

# Sorting
Appears cant have a sorted set though as outputs to a list?

In [60]:
sorted(a, reverse=True)

['d', 'c', 'b', 'a']

In [59]:
print(list(set([1, 2, 3, 1, 7])))

[1, 2, 3, 7]

![image](images/sets.png)

In [ ]:
# set comprehension

In [62]:
{skill for skill in ['SQL', 'SQL', 'PYTHON', 'PYTHON']}

{'PYTHON', 'SQL'}

In [63]:
a = set(['SQL', 'SQL', 'PYTHON', 'PYTHON'])

In [64]:
a

{'PYTHON', 'SQL'}